html,body,img,p,input,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd{
    margin:0;padding: 0;
}
ul,ol,li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    vertical-align: middle;
}
input{
    outline:none;
    border:none;
}
/* 窗口自适应 */
html,body{
    height: 100%;
}